<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>教科書寄付キャンペーン</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/send_url.js"></script>
  </head>
  <body>
    <div class="campaign">
      <div class="wrapper">
        <div class="content">
          <h2>静岡大学の教科書寄付キャンペーン</h2>
          <h1>
            <img src="/images/top-logo.png" alt="教科書寄付キャンペーンロゴ" />
          </h1>
          <p>
            <strong>使わなくなった教科書はどうしていますか？</strong><br />
            静岡大学では、不要になった教科書を後輩や新入生のために寄付できるキャンペーンを実施中です。
            <br /><br />
            教科書を寄付することで、<strong>資源の無駄を防ぎ</strong>、新しい学生たちが学習に必要な教材を手に入れる手助けができます。
            <br /><br />
            私たちはみんなで協力し、環境にやさしく、持続可能な学びのコミュニティを目指しています。ぜひ参加して、一緒に素晴らしい未来を作りましょう！
          </p>
          <p style="margin-top: 20px">
            <strong>参加方法:</strong><br />
            ・下のボタンから管理者に連絡してください。
          </p>
          <a class="btn" href="/join/<%= campaignId %>"
            >管理者に連絡する</a
        </div>
      </div>
    </div>
  </body>
</html>
