<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>本を登録</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="sign">
      <div class="container">
        <h1><a href="/list">レンタル管理</a></h1>
        <div class="panel">
          <h2>本を登録</h2>
          <% if (errors.length > 0) { %>
          <ul class="errors">
            <% errors.forEach(error => { %>
            <li><%= error %></li>
            <% }); %>
          </ul>
          <% } %>
          <form action="/rental" method="POST" enctype="multipart/form-data">
            <p>本のタイトル:</p>
            <input type="text" name="title" required /><br />
            <p>説明:</p>
            <textarea name="describe" required></textarea><br />
            <p>画像をアップロード (最大3枚):</p>
            <input type="file" name="images" accept="image/*" multiple /><br />
            <input type="submit" value="本を登録する" />
            <a href="/account/<%= locals.userId %>"
              >マイアカウントページに戻る</a
            >
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
